<%  provide(:title, @group.name ) %> 


<div class="container">
  <div class="row">
    <div class="col-12 col-sm-8 col-lg-5">
      <h4 class="text-muted">Group</h4> 
      <ul class="list-group">
        
          <div >
            <img src="<%= @group.icon%>" class=" icon" alt="icon" > 
          </div>         
          <div class="flex-column">
            <p> Name:  <%= @group.name %> </p>
            <p class="ml-4"><small> Created at: <%= @group.created_at.strftime("%d-%b-%Y") %></small></p>
          </div>

        
      </ul>
    </div>
  </div>
</div>