<%= Activity.all.count%>

<% Activity.all.each do |a|%>
<div class="card border-primary mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
        
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"> <%= a.name %></h5>
        
        
        <p class="card-text"><small class="text-muted"> Created <%= time_ago_in_words(a.created_at) %> ago.</small></p>
      </div>
    </div>
  </div>
</div>
 <% end %>
   <%= link_to " New Group", "groups/new" %>